################################
# Python defaults
################################
__pycache__/
*.py[codz]
*$py.class
*.so

################################
# Virtual Environments (CRITICAL)
################################
.venv/
.venv-1/
venv/
env/
ENV/
env.bak/
venv.bak/

################################
# Environment variables
################################
.env
.envrc

################################
# Jupyter / Experiments
################################
.ipynb_checkpoints/
*.ipynb

################################
# ML / Deep Learning (IMPORTANT)
################################
# Trained models (too large for GitHub)
*.h5
*.hdf5
*.pt
*.pth
*.onnx
*.pb

# MLflow
mlruns/
mlartifacts/

################################
# Uploaded / Generated Images
################################
static/uploads/
data/uploads/
outputs/
predictions/

################################
# Dataset (optional – uncomment if needed)
################################
# data/
# dataset/
# *.csv
# *.zip

################################
# Logs & cache
################################
*.log
.cache/
.coverage
htmlcov/
.pytest_cache/

################################
# Build / Packaging
################################
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
MANIFEST

################################
# IDEs
################################
.idea/
.vscode/
.spyderproject
.spyproject
.ropeproject

################################
# OS
################################
.DS_Store
Thumbs.db

################################
# Others
################################
.pdm-python
.pdm-build/
.pixi/
.ruff_cache/
.mypy_cache/
.pytype/
.pyre/
.cursorignore
.cursorindexingignore
