<div class="navbar">
    <h2>🧠 Clinsense-AI</h2>
    <div>
        <a href="/">Home</a>
        <a href="/pcod">PCOD Check</a>
        <a href="/diabetes">Diabetes Check</a>
        <a href="/live_health">Live Sensor</a>
    </div>
</div>

<style>
.navbar {
    background:#0d6efd;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar h2 {
    color:white;
    margin:0;
}
.navbar a {
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}
</style>
